<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "tweets/index.css" %}">
<head>
    <meta charset="UTF-8">
    <title>Twitter Sentiment Analysis</title>
</head>
<body>
    <h1>Twitter Sentiment Analysis</h1>

    <input id="valR" class = "slider" type="range" min="1" max="31" value="0" step="1" oninput="incSlider(this.value)" onchange="incSlider(this.value)" />
    <img class = "centered" id="img" alt="sentiment map">

<script>
    var val = document.getElementById("valR").value;
        document.getElementById("img").src ="{% static 'tweets/map_export1.png' %}";

        function incSlider(num){
            if (num === '10'){
                num  = 9;
            }
            else if (num === '23'){
                num = 22;
            }
            else if(num === '24'){
                num = 25;
            }
            console.log(num.toString());

          var img = "/static/tweets/map_export";
          img += num.toString();
          img += ".png";
          document.getElementById("img").src = img;
        }
</script>

</body>
</html>