<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "tweets/index.css" %}">
<head>
    <meta charset="UTF-8">
    <title>Twitter Sentiment Analysis</title>
</head>
<body>
    <h1>Twitter Sentiment Analysis</h1>

    <input  id="valR" class = "slider" type="range" min="1" max="31" value="0" step="1" oninput="showVal(this.value)" onchange="showVal(this.value)" />
    <img class = "centered" id="img" alt="sentiment map">

<script>
    var val = document.getElementById("valR").value;
        document.getElementById("img").src ="{% static 'tweets/map_export1.png' %}";

        function showVal(newVal){
            if (newVal === '10'){
                newVal  = 9;
            }
            else if (newVal === '23'){
                newVal = 22;
            }
            else if(newVal === '24'){
                newVal = 25;
            }
            console.log(newVal.toString());
          var img = "/static/tweets/map_export";
          img += newVal.toString();
          img += ".png";
          document.getElementById("img").src = img;
        }
</script>

</body>
</html>